body
{

  background-image: url('/images/c7.jpg'); 
  position: absolute;
 

  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

  overflow-x: hidden;

} 


#title
{
    font-size: 70px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #f7f3f3;
} 

#indexDiv
{
    font-size: 40px;
    width: 30%; 
    height: 50%;
    margin-left: 37%;
    padding: 25px; 
    border-radius: 50px;
    background-color: #464346; 
    opacity: 0.8;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #e6e3e3c4;
} 

#inner 
{
    display: inline-block;
    font-size: 27px; 
    text-align: center;
    margin-left: 39%;
    margin-bottom: 2%;
    font-family: 'Corben', Georgia, 'Times New Roman', Times, serif;
    color: #17251d;
}


#accessUIDiv
{
    font-size: 30px;
    width: 40%;
    margin-left: 27%;
    padding: 25px; 
    border-radius: 50px;
    background-color: #8a888a; 
    opacity: 0.8;
    ;
}

.indexButtons
{
    font-size: 27px;
    border-radius: 15px;
    width: 40%;
    margin-left: 30%;
    font-family: 'Century Gothic', sans-serif; 
    outline: none;
} 

.indexButtons:hover{
    background-color: #aea2ee4f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}


#loginPassword
{
	font-size: 30px;
}


input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 65%;
    margin-left: 15%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif; 
    outline: none;
}

#inner-title{
    display: inline-block;
    font-size: 35px;
    width: 90%;
    text-align: center;
    margin-left: 7%;
    margin-bottom: 2%;
    font-family: 'Corben', Georgia, 'Times New Roman', Times, serif;
    color: #7a5394;
}

#new 
{
    display: inline-block; 
    font-size: 40px;
    text-align: center; 
    margin-left: 33%;
    margin-bottom: 2%;
    font-family: 'Tahoma', 'Geneva', sans-serif;
    color: #7a5394;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
} 

#searchResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;

}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}
